.header {
    background-color: orangered;

}

body {
    margin: 0px;
    max-width: 1900px;
    padding: 10px;
}

#meniu0 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#meniu0 li {
    float: left;
}

ul#meniu0 li a {
    display: block;
    position: relative;
    font-size: 1rem;
    text-decoration: none;
    padding: 15px 20px;
}

nav {
    height: 51px;
    width: 100%;
    background-color: #535151;
}

.activ {
    background-color: #535151;
    border-bottom: 3px solid white;

}

#meniu0 li a:hover {
    background-color: #535151;
    border-bottom: 3px solid white;
}

.activ:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -2px;
}

/*
.activ2:after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: #535151;
    transform: rotate(45deg);
    position: relative;
    bottom: -44px;
    left: 46.5%;
    margin-left: 29px;
}
.activ3:after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    transform: rotate(45deg);
    position: relative;
    bottom: -97px;
    left: 46.5%;
    margin-left: 27px;
}
*/
.activ4:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -30px;
    border-top: 30px solid #fff;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(180deg);
}

.div1 {
    min-height: 200px;
    background-color: #535151;
    max-width: 1900px;
    position: relative;
}

.hw {
    color: white;
    text-align: center;
}

#gallery {
    width: 100%;
    overflow: hidden;
}

figure {
    margin: 0;
}

.slider {
    width: 500%;
    position: relative;
    font-size: 0;
    animation: 20s slidy infinite;
    /*    animation: 16s captionslidy infinite;*/
}

.slider figure {
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit;
}

.slider img {
    width: 100%;
    ;
    height: auto;
}

.slider figure figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(9, 178, 229, 0.33);
    color: white;
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
    padding: .6rem;
}

#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (max-width:500px) {
    .slider figure figcaption {
        font-size: 1.2rem;
    }
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    60% {
        left: -300%;
    }

    80% {
        left: -400%;
    }

    100% {
        left: 0%;
    }
}

@keyframes captionslidy {
    0% {
        left: 0%;
    }

    10% {
        left: 0%;
    }

    20% {
        left: -100%;
    }

    30% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    50% {
        left: -200%;
    }

    60% {
        left: -300%;
    }

    70% {
        left: -300%;
    }

    80% {
        left: -400%;
    }

    90% {
        left: -400%;
    }

    100% {
        left: 0%;
    }
}

@media screen and (max-width:768px) {
    ul.meniu0 li {
        width: 98%;
    }

    ul.meniu0 a {
        width: 98%;
    }

}

.b-col {
    background-color: white;
    margin: auto;
    padding: 30px;
    padding-left: 30px;
}

.paralax {
    background-image: url("../imagini/munte.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 300px;
}

.para_text {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 50px;
}

.gal {
    transform: scale(0.8);
    padding: 0;
}

.form_input {
    box-sizing: border-box;
    border: 1px solid rgba(45, 45, 45, 0.3);
    color: #2d2d2d;
    line-height: inherit;
    padding: 6px 20px;
    width: 100%;
    font-size: 14px;
    background: #fff;
    margin-bottom: 10px;
}

.in {
    width: 350px;
    height: 30px;
}

.text_font {
    font-family: 'DM Sans', sans-serif;
    ,
    text-align: center
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#bot_button {
    display: inline-block;
    background-color: #2d2d2d;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
}

#bot_button:hover {
    cursor: pointer;
    background-color: #535151;
}

#bot_button:active {
    background-color: #555;
}

#bot_button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

.pad {
    padding-top: 48px;
    padding-left: 25px;
}

.anch {
    float: right;
    color: white;
    margin-top: 5px;
    padding: 5px;
}

.my_img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

.tb_txt {
    text-decoration: underline;
    text-transform: uppercase;
}

.tb1 {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tb2 {
    border-bottom: 1px solid black;
}

.tb3 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.tb_pad {
    padding: 10px;
    font-size: 18px;
}

.row1:after {
    content: "";
    clear: both;
    display: block;
}

.txt_center {
    text-align: center;
}

.paddd {
    padding-left: 85px;
    padding: 30px;
}

.wid1 {
    min-width: 1494px;
    margin-left: -12px
}

.list-type {
    list-style-type: none;
}

.submeniu {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.anc {
    margin-right: 10px;
}
.ceva1{
    padding-top: 40px;
}
.ceva2{
    padding-left: 70px;
    padding-bottom: 50px;
    padding-top: 40px;
}
.pad_icon{
    padding: 2px;
}
